.logo-style{
    width:110px;
}

.input-style::placeholder{
    color: white !important;
}
.search-btn {
    position: absolute;
    left: 27px;
    top: 9px;
    height: 100%;
    color: #fff;
}
.input-style.form-control{
    background: transparent !important;
    border: 1px solid #fff;
    padding: 8px 40px !important;
    color: white !important;
    min-width: 300px !important;
    outline: none;
    margin-top: 0 !important;
}
.input-style.form-control:focus{
    outline: none;
    box-shadow: none !important;
    border: 1px solid #fff !important;
}
.nav-link{
    padding: 8px 15px !important;
}
.nav-item{
    text-decoration: none !important;
}
.btn-warning{
    background-color:  #F9A51A !important;
    color: #000 !important;
}